{% extends 'calculadora_nutricional/layout.html' %}
{% block content %}

<main>
    <section class="container-fluid">
        <h3>Preguntas Frecuentes</h3>
        <p>Aquí encontrará respuestas rápidas sobre la Ley de etiquetado y sobre esta página. Si no encunetra lo 
            que busca en esta sección, <a href="contacto.html"> contáctenos</a>. Responderemos lo antes posible.</p>
    <section class="container-fluid">
        <div class="container">
            <div class="col">
                <h5>¿Qué es este sitio?</h5>
                <p> Este sitio es una propuesta a una forma de obtener información sobre si un alimento debe
                    portar alguno de los 4 sellos conocidos como "Discos Pares" de nutrientes críticos en base a su composición. 
                    Se toma como base la Ley 20606 y el Manual de Etiquetado que ha puesto a disposición el 
                    Ministerio de Salud.</p>       
            </div>
            <hr width=800>
                <div class="col">
                    <h5>¿Qué son los nutrientes críticos?</h5>
                    <p> En el contexto de la Ley de Alimentos, corresponde a sodio, grasas saturadas o azúcares.</p>
                </div>
            <hr width=800>
            <div class="col">
                    <h5>¿Quiénes deberán agregar etiquetas de advertencia a los alimentos?</h5>
                    <p> En esta etapa se agregan a las grandes empresas, las micro y pequeñas empresas (MIPES) a la política de sellos.</p>       
            </div>
            <hr width=800>
            <div class="col">
                    <h5>¿Quiénes no deberán agregar etiquetas de advertencia a los alimentos?</h5>
                    <p> Los microproductores (microempresas) tendrán que incorporar los sellos de advertencia en 36 meses más.</p>       
            </div>
            <hr width=800>
            <div class="col">
                <h5>¿Qué considera la ley como microempresas?</h5>
                <p> Según el Estudio de Economía “Costos de implementación para Pequeñas y Micro empresas”,  Micro empresas: aquellas 
                    que, según ventas anuales y categorías definidas por ley N° 20.416, que fija normas especiales para las empresas 
                    de menor tamaño, también como “Estatuto Pyme”, tienen ventas anuales inferiores a 2.400 UF.</p>       
            </div>
            <hr width=800>
            <div class="col">
                <h5>¿Qué significan los sellos de advertencia?</h5>
                <p> La presencia de uno o más sellos de advertencia en un producto nos indica que éste presenta niveles superiores a 
                    los límites establecidos por el Ministerio de Salud, en relación a sodio, azúcares, grasas saturadas o calorías, 
                    los que se asocian a la obesidad y otras enfermedades crónicas como hipertensión, diabetes, infartos, y algunos 
                    cánceres.</p>       
            </div>
        </div>       
    </section>
</main>

{% endblock %}