{% extends 'calculadora_nutricional/layout.html' %}
{% block content %}

<main>
    <section class="container-fluid">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 contenedor">
                        <h3>Sobre mi</h3>
                </div>
                <br>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><br>
                    <p> Mi nombre es Constanza Hurtado, vivo en la ciudad de Arica, Chile y trabajo en un centro de investigación
                        marina. Actualmente estudio una carrera técnica en programación, pero siento que aún no logro el nivel
                        que deseo para dedicarme a la programación y es por ello que decidí complementar mis estudios con este
                        Campboot.</p>
                    <p> Hace un tiempo, de forma independiente preste servicios a dos PYMES en el área de etiquetado de alimentos,
                        tratándose de un proceso sencillo. Sin embargo, los dueños expresaron cierto temor a la hora de realizar
                        los cálculos necesarios para formular una etiqueta. Entonces, deseo desarrollar una herramienta sencilla 
                        que les permita hacer estos cálculos, diseñar una etiqueta de salida y que esta aplicaión les permita saber 
                        si requieren de sellos "Disco Pare".</p>                         
                </div>
    </section>
</main>

{% endblock %}